<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan's Hair Donation</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="message">
        <section class="message__content">
            <h2 class="message__content__title page-title"><%= message %></h2>
            <p class="message__content__text page-text"><%= description %></p>
        
            <button class="message__content__return-btn">
                <a href="/">Return to Main Page</a>
            </button>
        </section>
    
    
    
        <img class="message__bottom-design" src="./assets/bottom-design.svg" alt="">
    </div>
</body>
</html>